.App {
  text-align: center;
}

.table {
  border: 10px solidpassadnasda black;
  padding-left: 490px;
}

.cols {
width:200px;
border: 2px solid black;
}

.rows {
border: 2px solid black;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 2em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
